<h1>Vous avez été déconnecté.</h1>
<p>Vous pouvez vous connecter ou vous inscrire ci-dessous :</p>

<%= link_to "Se connecter", new_session_path, class: "btn btn-primary" %>
<%= link_to "S'inscrire", new_user_path, class: "btn btn-secondary" %>
