<header>
  <h1>Notre Équipe</h1>
</header>
<main class="container">
  <div class="row">
    <section class="col-md-6">
      <div class="card">
        <img class="card-img-top" style="height: 300px; object-fit: cover;" src="https://scontent.frns1-1.fna.fbcdn.net/v/t39.30808-6/269998642_4751783591526426_8014437502054310296_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_ohc=FkyVsatyQRYQ7kNvgEQj1dc&_nc_ht=scontent.frns1-1.fna&oh=00_AfBWhNWhGjgSv6kNkz_kVFIEErA5w_MCXfqyB8Z8FC13Ug&oe=6635948C" alt="Photo de membre d'équipe">
        <div class="card-body">
          <h2 class="card-title">Hortense</h2>
          <p class="card-text">Rôle dans l'équipe : Développement</p>
          <p>Hortense est une développeuse passionnée et déterminée, toujours à la recherche de nouveaux défis à relever dans le domaine de la programmation. Elle possède une approche méthodique et rigoureuse dans son travail, ce qui lui permet de résoudre efficacement les problèmes rencontrés. Malgré les défis techniques, elle reste calme et motivée, voyant chaque obstacle comme une opportunité d'apprentissage. En dehors du travail, elle aime partager ses connaissances et ses expériences avec les autres et trouve un équilibre entre sa vie professionnelle et personnelle.</p>
        </div>
      </div>
    </section>
    <section class="col-md-6">
      <div class="card">
        <img class="card-img-top" style="height: 300px; object-fit: cover;" src="https://www.parisduckstore.fr/wp-content/uploads/2020/10/Capture-de%CC%81cran-2020-10-22-a%CC%80-16.34.57.png" alt="Photo de membre d'équipe">
        <div class="card-body">
          <h2 class="card-title">Ducky</h2>
          <p class="card-text">Rôle dans l'équipe : soutien morale</p>
          <p>Ducky est le fidèle compagnon d'Hortense, un canard en plastique qui l'accompagne lors de ses longues sessions de programmation. Même s'il ne peut pas lui répondre, Hortense trouve souvent du réconfort en lui parlant et en lui exposant ses idées. Ducky est toujours là pour écouter attentivement, même lorsque les lignes de code deviennent complexes. Sa présence apporte une touche de légèreté et de bonne humeur dans l'environnement parfois stressant du développement informatique.</p>
        </div>
      </div>
    </section>
  </div>
</main>
<footer class="fixed-bottom bg-light text-center p-3">
  <p>&copy; 2024 Notre Entreprise. Tous droits réservés.</p>
</footer>
